.fundraising-2015 {
  position: relative;
  margin: 0 auto 20px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.fundraising-2015 button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.fundraising-2015 p {
  font-size: 14px;
  line-height: 21px;
  margin: 0 20px 12px 20px;
  display: block;
  height: auto;
  padding: 0;
  width: auto;
  color: inherit;
}

.fundraising-2015 em {
  transition: background 800ms linear;
  font-style: normal;
  box-decoration-break: clone;
  margin: 0px -5px;
  padding: 2px 5px;
  font-weight: bold;
}

.fundraising-2015 em.active {
  background: #FFF8D0;
}

.fundraising-2015 .button {
  margin: 0 8px 0 0;
  width: 60px;
  height: 38px;
  text-align: center;
  padding: 8px 0;
  text-decoration: none;
  word-spacing: -1px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1;
  background-color: #A7AAB3;
  box-sizing: border-box;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  float: left;
  border: none;
  border-radius: 2px;
  position: relative;
}

.fundraising-2015 .button:before {
  content: "";
  position: absolute;
  border-radius: 2px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.fundraising-2015 .button:hover {
  cursor: pointer;
  background-color: #B3B6BF;
}

.fundraising-2015 .button.button-red {
  background-color: #F95D6A;
  background-image: linear-gradient(#F95D6A, #E4263C);
  margin: 0;
}
.fundraising-2015 .button.button-red:hover {
  background-color: #FF7B87;
  background-image: linear-gradient(transparent, rgba(0,0,0,0.2));
}
.fundraising-2015 .button-wide {
  width: 158px;
}

.fundraising-2015 .monthly-checkbox-container {
  overflow: hidden;
  margin: 11px 0 0;
  font-size: 12px;
}

.fundraising-2015 .monthly-checkbox {
  float: left;
  margin: 2px 5px 0 0;
}

.fundraising-2015 .monthly-checkbox-label {
  float: left;
}

.fundraising-2015 .button.button-selected {
  background-color: #49AFFD;
}

.fundraising-2015 .background-container {
  background: #EAEAEA;
  padding: 18px 20px 11px;
  border-radius: 4px;
  position: relative;
}

.fundraising-2015 .donation-amounts {
  overflow: hidden;
}

.fundraising-2015 .image-container {
  right: 100%;
  bottom: 0;
  margin-right: -12px;
  position: absolute;
}
