      .fundraising-2015-spectacular {
        position: relative;
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      }

      .fundraising-2015-spectacular button::-moz-focus-inner {
        border: 0;
        padding: 0;
      }

      .fundraising-2015-spectacular p {
        font-size: 14px;
        line-height: 21px;
        display: block;
        height: auto;
        padding: 0;
        width: 100%;
      }

      .fundraising-2015-spectacular em {
        transition: background 800ms linear;
        font-style: normal;
        box-decoration-break: clone;
        margin: 0px -5px;
        padding: 2px 5px;
        font-weight: bold;
      }

      .fundraising-2015-spectacular em.active {
        background: #FFF8D0;
      }

      .fundraising-2015-spectacular .button {
        margin: 0 8px 0 0;
        width: 62px;
        height: 38px;
        text-align: center;
        padding: 8px 0;
        text-decoration: none;
        word-spacing: -1px;
        color: rgb(255, 255, 255);
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-size: 20px;
        line-height: 1;
        background-color: #A7AAB3;
        box-sizing: border-box;
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
        float: left;
        border: none;
        border-radius: 2px;
        position: relative;
      }

      .fundraising-2015-spectacular .button:before {
        content: "";
        position: absolute;
        border-radius: 2px;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        border: 1px solid rgba(255, 255, 255, 0.3);
      }

      .fundraising-2015-spectacular .button:hover {
        cursor: pointer;
        background-color: #B3B6BF;
      }

      .fundraising-2015-spectacular .button.button-red {
        background-color: #F95D6A;
        background-image: linear-gradient(#F95D6A, #E4263C);
        margin: 0;
      }
      .fundraising-2015-spectacular .button.button-red:hover {
        background-color: #FF7B87;
        background-image: linear-gradient(transparent, rgba(0,0,0,0.2));
      }
      .fundraising-2015-spectacular .button-wide {
        width: 190px;
      }

      .fundraising-2015-spectacular .monthly-checkbox-container {
        overflow: hidden;
        margin: 11px 0 0;
        font-size: 12px;
      }

      .fundraising-2015-spectacular .monthly-checkbox {
        float: left;
        margin: 2px 5px 0 0;
      }

      .fundraising-2015-spectacular .monthly-checkbox-label {
        float: left;
      }

      .fundraising-2015-spectacular .button.button-selected {
        background-color: #49AFFD;
      }

      .fundraising-2015-spectacular-2 .background-container {
        text-align: center;
        padding: 30px 28px 27px;
      }

      .fundraising-2015-spectacular-1 .background-container {
        text-align: center;
        background-color: #F95D6A;
        color: #FFFFFF;
        padding: 30px 28px 50px;
        background-image: linear-gradient(#F95D6A, #E4263C);
      }

      .fundraising-2015-spectacular-2 .main-wrapper {
        position: relative;
        background-color: #FFFFFF;
        color: #1A1A1A;
        margin-left: -75px;
        margin-right: -75px;
        padding-bottom: 15px;
      }

      .fundraising-2015-spectacular-1 .main-wrapper {
        margin-bottom: 25px;
        position: relative;
      }

      .fundraising-2015-spectacular-1 .arrow-side {
        background-color: #F2F2F2;
        width: 245px;
        height: 50px;
        position: absolute;
        bottom: -24px;
      }

      .fundraising-2015-spectacular-1 .arrow-side.left {
        transform: rotate(12deg);
        left: -10px;
      }

      .fundraising-2015-spectacular-1 .arrow-side.right {
        transform: rotate(-12deg);
        right: -10px;
      }

      .fundraising-2015-spectacular .donation-container {
        width: 470px;
        margin: 0 auto;
      }
      .fundraising-2015-spectacular .donation-amounts {
        overflow: hidden;
      }

      .fundraising-2015-spectacular .image-container {
        right: 100%;
        bottom: 0;
        margin-right: -12px;
        position: absolute;
      }

      .fundraising-2015-spectacular-2 .body-text {
        font-size: 20px;
        line-height: 28px;
      }

      .fundraising-2015-spectacular-1 .body-text {
        font-size: 15px;
        line-height: 24px;
        color: #F5BEC4;
      }

      .fundraising-2015-spectacular-1 .body-text b {
        color:#FFFFFF;
      }

      .fundraising-2015-spectacular-2 {
        position: relative;
        min-height: 100vh;
        overflow-x: hidden;
      }

      .fundraising-2015-spectacular-2::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: calc(50% + 290px);
        width: 300px;
        height: 216px;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA0MTggMzAxIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0MTggMzAxIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxkZWZzPg0KCQk8cmVjdCBpZD0iU1ZHSURfMV8iIHdpZHRoPSI0MTgiIGhlaWdodD0iMzAxIi8+DQoJPC9kZWZzPg0KCTxjbGlwUGF0aCBpZD0iU1ZHSURfMl8iPg0KCQk8dXNlIHhsaW5rOmhyZWY9IiNTVkdJRF8xXyIgIG92ZXJmbG93PSJ2aXNpYmxlIi8+DQoJPC9jbGlwUGF0aD4NCgk8ZyBjbGlwLXBhdGg9InVybCgjU1ZHSURfMl8pIj4NCgkJPGc+DQoJCQk8cG9seWdvbiBmaWxsPSIjRjI2RTI1IiBwb2ludHM9IjE2OC43LDM0My44IDI5Ny41LDM1MiA0MTYuNSwzMDIuMSAzODEuMyw5OSAxMzQuNSwxNDAuNyAJCQkiLz4NCgkJCTxwb2x5Z29uIGZpbGw9IiNGMjZFMjUiIHBvaW50cz0iMzkzLjcsMTY4LjUgMzc0LjUsNTQuNiAzMTMuNywxMTAuNyAJCQkiLz4NCgkJCTxwb2x5Z29uIGZpbGw9IiNGMjZFMjUiIHBvaW50cz0iMTQ0LjgsMjAyLjUgMTM0LjEsMTM2LjQgMTI3LjYsOTYuNiAyMDIuMywxMzAuNCAJCQkiLz4NCgkJCTxwb2x5Z29uIGZpbGw9IiMyNzI3MjQiIHBvaW50cz0iMjcwLjcsMjcwLjggMjk3LjIsMjY2LjMgMzIyLjgsMjM0LjggMjUyLjMsMjQ2LjYgCQkJIi8+DQoJCQk8cGF0aCBmaWxsPSIjRUNERUNBIiBkPSJNMjcwLjcsMjcwLjhjLTEwLjEtNTkuOC03Mi45LTEzMS43LTEzNC45LTEyMS4zbDE4LjQsMTA5LjNMMjcwLjcsMjcwLjh6Ii8+DQoJCQk8cGF0aCBmaWxsPSIjRUNERUNBIiBzdHJva2U9IiNFQ0RFQ0EiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZD0iTTI5OC4yLDI2Ni4zYy0xMC4xLTU5LjgsMjMuOS0xNDgsODUuMy0xNTguM2wxOC40LDEwOS4zDQoJCQkJTDI5OC4yLDI2Ni4zeiIvPg0KCQkJPGc+DQoJCQkJPHBhdGggZmlsbD0iIzI3MjcyNCIgZD0iTTE5My45LDIyNS41YzQuNCwzLjEsMTAuNSwyLjEsMTMuNi0yLjNjMy4xLTQuNCwyLjEtMTAuNS0yLjMtMTMuNmMtNC40LTMuMS0xMC41LTIuMS0xMy42LDIuMw0KCQkJCQlDMTg4LjUsMjE2LjMsMTg5LjUsMjIyLjQsMTkzLjksMjI1LjV6Ii8+DQoJCQkJPHBhdGggZmlsbD0iIzI3MjcyNCIgZD0iTTM1Ni45LDE5OC4xYy0zLjEsNC40LTkuMiw1LjQtMTMuNiwyLjNjLTQuNC0zLjEtNS40LTkuMi0yLjMtMTMuNmMzLjEtNC40LDkuMi01LjQsMTMuNi0yLjMNCgkJCQkJQzM1OSwxODcuNiwzNjAsMTkzLjcsMzU2LjksMTk4LjF6Ii8+DQoJCQk8L2c+DQoJCTwvZz4NCgkJPGc+DQoJCQk8cGF0aCBmaWxsPSIjMjcyNzI0IiBkPSJNMjE0LjMsMTU5LjFjMTIuNi0xMS40LDI0LjEtMjMuMSwzNC0zNC42YzE4LjctMjEuNywzMi00Mi42LDM4LjItNTkuNWM0LjItMTEuNSwzLjYtMjAuOC0xLTMzLjQNCgkJCQljLTAuMy0wLjctMC45LTEuMS0xLjUtMC43Yy0zLjIsMi4zLTExLjIsNy45LTEzLjgsOS41Yy0yLjQsMS40LTMyLjcsMjIuMi0zMi44LDIyLjFsLTE4LjgtMjAuOGMtMC4zLTAuNC0wLjctMC45LTEtMS4zDQoJCQkJYy0xNi40LTE4LjItNTcuNC03LjktOTEuNSwyM1M3Ny40LDEzMy45LDkzLjgsMTUyYzAuMywwLjMsMC42LDAuNiwwLjksMC45bDE5LjQsMjEuNGwtMzIuOSw0My4xYzEuMywxLjUsMi45LDIuNiw0LjcsMy41DQoJCQkJQzEwNy41LDIzMiwxNjIuMiwyMDYuMiwyMTQuMywxNTkuMXoiLz4NCgkJCTxwYXRoIGQ9Ik0yMTQuMywxNTkuMWMxMi42LTExLjQsMjQuMS0yMy4xLDM0LTM0LjZjMTguNy0yMS43LDMyLTQyLjYsMzguMi01OS41YzQuMi0xMS41LDMuNi0yMC44LTEtMzMuNA0KCQkJCWMtMC4zLTAuNy0wLjktMS4xLTEuNS0wLjdjLTMuMiwyLjMtMTEuMiw3LjktMTMuOCw5LjVjLTIuNCwxLjQtMzIuNywyMi4yLTMyLjgsMjIuMWwtMTguOC0yMC44Yy0wLjMtMC40LTAuNy0wLjktMS0xLjMNCgkJCQljLTE2LjQtMTguMi01Ny40LTcuOS05MS41LDIzUzc3LjQsMTMzLjksOTMuOCwxNTJjMC4zLDAuMywwLjYsMC42LDAuOSwwLjlsMTkuNCwyMS40bC0zMi45LDQzLjFjMS4zLDEuNSwyLjksMi42LDQuNywzLjUNCgkJCQlDMTA3LjUsMjMyLDE2Mi4yLDIwNi4yLDIxNC4zLDE1OS4xeiIvPg0KCQk8L2c+DQoJCTxnPg0KCQkJDQoJCQkJPHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRjI2RTI1IiBzdHJva2Utd2lkdGg9IjM5LjY1NjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSINCgkJCQlNMTE1LjksMzI4LjJjLTMuNy0xMi41LTUuMy0yNS44LTQuOC0zOS42bDItNDcuNiIvPg0KCQkJPHBhdGggZmlsbD0iI0VDREVDQSIgZD0iTTkyLjUsMjU4LjJsMS41LTM1LjVjMC40LTEwLjMsOS44LTE4LjcsMjAuOC0xOC44YzExLTAuMSwxOS42LDguMiwxOS4yLDE4LjVsLTEuNSwzNS41Ii8+DQoJCTwvZz4NCgk8L2c+DQo8L2c+DQo8L3N2Zz4NCg==);
        background-repeat: no-repeat;

        animation-iteration-count: 3;
        animation-duration: .2s;
        animation-delay: 0s;
        animation-timing-function: ease-out;
        transform-origin: bottom;
      }

      .fundraising-2015-spectacular-2.giggle::before {
        animation-name: giggle;
      }

      .fundraising-2015-spectacular-2.giggle .blink {
        animation-name: blink;
      }

      .blink {
        position: absolute;
        height: 25px;
        width: 134px;
        left: calc(50% + 422px);
        bottom: 60px;
        transform: rotate(-10deg);
        opacity: 0;

        animation-iteration-count: 3;
        animation-duration: .2s;
        animation-delay: 0s;
        animation-timing-function: ease-out;
        transform-origin: bottom;
      }

      .blink .eye {
        position: absolute;
        width: 25px;
        height: 25px;
        background: #ECDECA;
      }

      .blink .eye .eye-slit {
        border-radius: 50%;
        border: solid 4px #ECDECA;
        border-top: solid 4px #272727;
        position: absolute;
        width: 15px;
        height: 15px;
        margin-top: 10px;
      }

      .blink .right-eye {
        left: 0;
      }

      .blink .left-eye {
        right: 0;
      }

      @keyframes giggle {
        0% {
          transform: translateY(0px);
        }
        50% {
          transform: translateY(-6px) scaleX(.985);
        }
        100% {
          transform: translateY(0);
        }
      }

      @keyframes blink {
        0% {
          transform: translateY(0px) rotate(-9.25deg);
          opacity: 1;
        }
        50% {
          transform: translateY(-6px) scaleX(.985) rotate(-9.25deg);
          opacity: 1;
        }
        100% {
          transform: translateY(0) rotate(-9.25deg);
          opacity: 1;
        }
      }
