.mass-surveillance .text-container {
  font-family: "Open Sans";
  font-size: 12px;
}

.mass-surveillance .front {
  height: 100%;
  width: 100%;
}

.mass-surveillance .privacy-eye {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 2px;
}

.mass-surveillance .eye-container {
  height: 39px;
  width: 39px;
  flex-shrink: 0;
  margin-right: 26px;
  margin-left: 20px;
  position: relative;
}

.mass-surveillance .container {
  display: flex;
  align-items: center;
}

.mass-surveillance * {
  box-sizing: border-box;
}

.mass-surveillance .eyelid {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.mass-surveillance .eye-image {
  margin-top: -41px;
  margin-left: -21px;
  pointer-events: none;
}

.mass-surveillance .eyelid::before,
.mass-surveillance .eyelid::after {
  background: #4D4E53;
  content: '';
  display: block;
  height: 50%;
  position: absolute;
  width: 100%;
  -webkit-animation: real-eyelids 7s infinite;
  -o-animation: real-eyelids 7s infinite;
  -moz-animation: real-eyelids 7s infinite;
  animation: real-eyelids 7s infinite;
}

.mass-surveillance .eyelid::before {
  top: 0;
  z-index: 100;
}

.mass-surveillance .eyelid::after {
  bottom: 0;
}

.mass-surveillance .sclera {
  width: 100%;
  height: 100%;
  position: relative;
}

.mass-surveillance .iris {
  border: 2px solid #4D4E53;
  border-radius: 50%;
  height: 60%;
  width: 60%;
  padding: 8.5%;
  position: relative;
  top: 19.5%;
  left: 20.5%;
}

.mass-surveillance .privacy-eye.wander .iris {
  -webkit-animation: searching-eye 7s infinite;
  -o-animation: searching-eye 7s infinite;
  -moz-animation: searching-eye 7s infinite;
  animation: searching-eye 7s infinite;
}

.mass-surveillance .privacy-eye.focus .iris {
  padding: 20%;
}

.mass-surveillance .privacy-eye.smooth .iris {
  transition: padding .3s, transform .2s;
}

.mass-surveillance .privacy-eye .iris {
  transition: padding .3s;
}

.mass-surveillance .pupil {
  background: #4D4E53;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: relative;
}

@-webkit-keyframes real-eyelids {
  0%,
  90%,
  100% {
    height: 0;
  }
  95% {
    height: 60%;
  }
}

@-o-keyframes real-eyelids {
  0%,
  90%,
  100% {
    height: 0;
  }
  95% {
    height: 60%;
  }
}

@-moz-keyframes real-eyelids {
  0%,
  90%,
  100% {
    height: 0;
  }
  95% {
    height: 60%;
  }
}

@keyframes real-eyelids {
  0%,
  90%,
  100% {
    height: 0;
  }
  95% {
    height: 60%;
  }
}

@-webkit-keyframes searching-eye {
  0%,
  85.714285716%,
  100% {
    top: 17.5%;
    left: 17.5%;
  }
  14.285714286% {
    top: 17.5%;
    left: 8%;
  }
  28.571428572% {
    top: 30%;
    left: 8%;
  }
  42.857142858% {
    top: 30%;
    left: 30%;
  }
  57.142857144% {
    top: 8%;
    left: 30%;
  }
  71.42857143% {
    top: 8%;
    left: 8%;
  }
  85.7142857% {
    top: 0;
    left: 17.5%;
  }
}

@-o-keyframes searching-eye {
  0%,
  85.714285716%,
  100% {
    top: 17.5%;
    left: 17.5%;
  }
  14.285714286% {
    top: 17.5%;
    left: 8%;
  }
  28.571428572% {
    top: 30%;
    left: 8%;
  }
  42.857142858% {
    top: 30%;
    left: 30%;
  }
  57.142857144% {
    top: 8%;
    left: 30%;
  }
  71.42857143% {
    top: 8%;
    left: 8%;
  }
  85.7142857% {
    top: 0;
    left: 17.5%;
  }
}

@-moz-keyframes searching-eye {
  0%,
  85.714285716%,
  100% {
    top: 17.5%;
    left: 17.5%;
  }
  14.285714286% {
    top: 17.5%;
    left: 8%;
  }
  28.571428572% {
    top: 30%;
    left: 8%;
  }
  42.857142858% {
    top: 30%;
    left: 30%;
  }
  57.142857144% {
    top: 8%;
    left: 30%;
  }
  71.42857143% {
    top: 8%;
    left: 8%;
  }
  85.7142857% {
    top: 0;
    left: 17.5%;
  }
}

@keyframes searching-eye {
  0%,
  85.714285716%,
  100% {
    top: 17.5%;
    left: 17.5%;
  }
  14.285714286% {
    top: 17.5%;
    left: 8%;
  }
  28.571428572% {
    top: 30%;
    left: 8%;
  }
  42.857142858% {
    top: 30%;
    left: 30%;
  }
  57.142857144% {
    top: 8%;
    left: 30%;
  }
  71.42857143% {
    top: 8%;
    left: 8%;
  }
  85.7142857% {
    top: 0;
    left: 17.5%;
  }
}
