body {
  margin: 0;
}

#brandLogo {
    height: 192px;
    width: 192px;
    margin: 22px auto 31px;
    background-image: url("../assets/about-logo.png");
    background-size: 192px auto;
    background-position: center center;
    background-repeat: no-repeat;
}
@media not all and (max-resolution: 1dppx) {
  #brandLogo {
      background-image: url("../assets/about-logo@2x.png");
  }
}
#searchIconAndTextContainer, #snippets {
    width: 470px;
}

html {
    background-color: hsl(0,0%,95%);
    color: #000;
    height: 100%;
}
#searchIconAndTextContainer {
    height: 36px;
    margin: 0 auto;
    display: flex;
}
#searchIcon {
    border: 1px transparent;
    padding: 0;
    margin: 0;
    width: 36px;
    height: 36px;
    background: url("../assets/search-indicator-magnifying-glass.svg") center center no-repeat;
    position: absolute;
}

#snippets {
  margin: 0 auto;
  text-align: left;
  margin-top: 12px;
}

#searchText {
    margin-left: 0;
    -moz-box-flex: 1;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 34px;
    padding-right: 8px;
    background: hsla(0,0%,100%,.9) padding-box;
    border: 1px solid;
    border-radius: 2px 0 0 2px;
    border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.17) hsla(210,54%,20%,.2);
    box-shadow: 0 1px 0 hsla(210,65%,9%,.02) inset, 0 0 2px hsla(210,65%,9%,.1) inset, 0 1px 0 hsla(0,0%,100%,.2);
    color: inherit;
    unicode-bidi: plaintext;
    width: 100%;
}

#searchSubmit {
    margin-inline-start: -1px;
    color: transparent;
    background: url("../assets/search-arrow-go.svg") center center no-repeat, linear-gradient(hsla(0,0%,100%,.8), hsla(0,0%,100%,.1)) padding-box;
    -moz-context-properties: fill;
    fill: #616366;
    padding: 0;
    border: 1px solid;
    border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.17) hsla(210,54%,20%,.2) transparent;
    border-radius: 0 2px 2px 0;
    box-shadow: 0 0 2px hsla(0,0%,100%,.5) inset, 0 1px 0 hsla(0,0%,100%,.2);
    cursor: pointer;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 150ms;
    width: 50px;
    height: 100%;
}

#searchText + #searchSubmit:hover {
    background-image: url("../assets/skin/search-arrow-go.svg"), linear-gradient(#66bdff, #0d9eff);
    fill: white;
    box-shadow: 0 1px 0 hsla(0,0%,100%,.2) inset, 0 0 0 1px hsla(0,0%,100%,.1) inset, 0 1px 0 hsla(210,54%,20%,.03), 0 0 4px hsla(206,100%,20%,.2);
}

#searchText:focus + #searchSubmit, #searchText[keepfocus] + #searchSubmit, #searchText[autofocus] + #searchSubmit {
    background-image: url("../assets/search-arrow-go.svg"), linear-gradient(#4cb1ff, #1793e5);
    fill: white;
    box-shadow: 0 1px 0 hsla(0,0%,100%,.2) inset, 0 0 0 1px hsla(0,0%,100%,.1) inset, 0 1px 0 hsla(210,54%,20%,.03);
}

#searchText[keepfocus], #searchText:focus, #searchText[autofocus] {
    border-color: hsla(206,100%,60%,.6) hsla(206,76%,52%,.6) hsla(204,100%,40%,.6);
}
#topSection {
    text-align: center;
}


